<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="hatch_frame">
  <xacro:arg name="name" default=""/>
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find hatch_frame)/urdf/hatch_frame.xacro"/>
  <xacro:include filename="$(find hatch_frame)/urdf/colors.xacro"/>

  <link name="world"/>

  <xacro:hatch_frame name="$(arg name)" prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:hatch_frame>

</robot>
