<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="grab_handle" params="
    prefix:=''
    parent:=''
    *origin">

    <joint name="${prefix}grab_handle_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}grab_handle"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}grab_handle">
      <!--TODO set proper inertia-->
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.1558987"/>
        <inertia ixx="0.002074537" ixy="0.0008954785" ixz="0.000000003872256" iyy="0.0007511526" iyz="0.00000005844821" izz="0.002813307"/>
      </inertial>
      <visual>
        <!--This transform is for the stl file origin-->
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://hatch_accessories/meshes/visual/grab_handle.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <!--This transform is for the stl file origin-->
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://hatch_accessories/meshes/collision/grab_handle.stl"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}grab_center_joint" type="fixed">
      <parent link="${prefix}grab_handle"/>
      <child link="${prefix}grab_center"/>
      <origin xyz="0.0807 -0.0889 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}grab_center"/>

    <joint name="${prefix}grab_touch_joint" type="fixed">
      <parent link="${prefix}grab_handle"/>
      <child link="${prefix}grab_touch"/>
      <origin xyz="0.0934 -0.0889 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}grab_touch"/>

  </xacro:macro>
</robot>