<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="hatch_frame" params="
    name:=''
    prefix:=''
    parent:=''
    *origin">

    <joint name="${prefix}hatch_frame_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}hatch_frame"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}hatch_frame">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <!-- <mesh filename="package://hatch_accessories/meshes/visual/ivr_hatch_frame.stl"/> -->
          <mesh filename="package://hatch_accessories/meshes/visual/ivr_hatch_frame_no_left.stl"/>
        </geometry>
        <material name="gray"/>
      </visual>
    </link>

    <joint name="${prefix}hatch_frame_joint" type="fixed">
      <parent link="${prefix}hatch_frame"/>
      <child link="${prefix}hatch_bottom"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_bottom">
      <!--TODO set proper inertia-->
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
      <collision>
        <origin xyz="${0.675/2} ${1.307/2} ${0.04/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.675 1.307 0.04"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}hatch_bottom_back" type="fixed">
      <parent link="${prefix}hatch_bottom"/>
      <child link="${prefix}hatch_back"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_back">
      <collision>
        <origin xyz="${0.1/2} ${1.307/2} ${0.4953/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 1.307 0.4953"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}hatch_bottom_front" type="fixed">
      <parent link="${prefix}hatch_bottom"/>
      <child link="${prefix}hatch_front"/>
      <origin xyz="0.578 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_front">
      <collision>
        <origin xyz="${0.1/2} ${1.307/2} ${0.4953/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 1.307 0.4953"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}hatch_frame_front_bottom_joint" type="fixed">
      <parent link="${prefix}hatch_frame"/>
      <child link="${prefix}hatch_frame_front_bottom"/>
      <origin xyz="0.67 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_frame_front_bottom"/>

    <joint name="${prefix}hatch_bottom_left" type="fixed">
      <parent link="${prefix}hatch_bottom"/>
      <child link="${prefix}hatch_left"/>
      <origin xyz="0.0 -0.01 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_left">
      <collision>
        <origin xyz="${0.675/2} ${0.1/2} ${2.1082/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.675 0.1 2.1082"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}hatch_bottom_right" type="fixed">
      <parent link="${prefix}hatch_bottom"/>
      <child link="${prefix}hatch_right"/>
      <origin xyz="0.0 1.22 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_right">
      <collision>
        <origin xyz="${0.675/2} ${0.1/2} ${0.4953/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.675 0.1 0.4953"/>
        </geometry>
        <material name="red"/>
      </collision>
      <collision>
        <origin xyz="${1.307/2 - 0.1/4} ${0.1/2} ${2.1082/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 2.1082"/>
        </geometry>
        <material name="red"/>
      </collision>      
    </link>

    <joint name="${prefix}hatch_bottom_top" type="fixed">
      <parent link="${prefix}hatch_bottom"/>
      <child link="${prefix}hatch_top"/>
      <origin xyz="0.589 0.0 1.913" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_top">
      <collision>
        <origin xyz="${0.1/2} ${1.307/2} ${0.197/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 1.307 0.197"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}hatch_frame_front_top_joint" type="fixed">
      <parent link="${prefix}hatch_frame"/>
      <child link="${prefix}hatch_frame_front_top"/>
      <origin xyz="0.67 0.0 2.111" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_frame_front_top"/>

    <!--This is for when there is a bench at the level of the bottom of the hatch opening.-->
    <!-- TODO add if statement -->
    <joint name="${prefix}hatch_frame_bench_joint" type="fixed">
      <parent link="${prefix}hatch_frame"/>
      <child link="${prefix}hatch_bench"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}hatch_bench">
      <visual>
        <origin xyz="${0.675/2} ${1.307/2} ${0.4953/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.675 1.307 0.4953"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <origin xyz="${0.675/2} ${1.307/2} ${0.4953/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.675 1.307 0.4953"/>
        </geometry>
        <material name="gray"/>
      </collision>
    </link>

  </xacro:macro>
</robot>
