<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="hatch_4060">
  <xacro:arg name="name" default=""/>
  <xacro:arg name="prefix" default=""/>
  <xacro:property name="external_handle_1" default="true"/>
  <xacro:property name="external_handle_2" default="false"/>
  <xacro:property name="internal_handle_1" default="true"/>
  <xacro:property name="internal_handle_2" default="false"/>

  <xacro:include filename="$(find hatch_frame)/urdf/hatch_frame.xacro"/>
  <xacro:include filename="$(find hatch_4060)/urdf/colors.xacro"/>
  <xacro:include filename="$(find hatch_4060)/urdf/hatch_4060.xacro"/>

  <link name="world"/>

  <xacro:hatch_frame name="$(arg name)" prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:hatch_frame>

  <xacro:hatch_4060 name="$(arg name)" prefix="$(arg prefix)" parent="hatch_frame" 
    external_handle_1="${external_handle_1}" external_handle_2="${external_handle_2}" 
    internal_handle_1="${internal_handle_1}" internal_handle_2="${internal_handle_2}">
    <origin xyz="0.668 0.06 0.7113" rpy="0 0 0"/>
  </xacro:hatch_4060>

</robot>
