<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="bench_seat">
  <xacro:arg name="name" default=""/>
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find trainer)/urdf/colors.xacro"/>
  <xacro:include filename="$(find trainer)/urdf/bench_seat.xacro"/>

  <link name="world"/>

  <xacro:bench_seat name="$(arg name)" prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:bench_seat>

</robot>
