<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="ceiling" params="
    name:=''
    prefix:=''
    parent:=''
    *origin">

    <joint name="${prefix}ceiling_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}ceiling"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}ceiling">
      <visual>
        <origin xyz="${1.901/2} ${1.4694/2} ${0.05/2}" rpy="0 0 0"/>
        <geometry>
          <box size="1.901 1.4694 0.05"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <origin xyz="${1.901/2} ${1.4694/2} ${0.05/2}" rpy="0 0 0"/>
        <geometry>
          <box size="1.901 1.4694 0.05"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

  </xacro:macro>
</robot>
