<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="trainer_front_left_face">
  <xacro:arg name="name" default=""/>
  <xacro:arg name="prefix" default=""/>
  <xacro:property name="shelf" default="true"/>

  <xacro:include filename="$(find trainer)/urdf/colors.xacro"/>
  
  <link name="world"/>

  <xacro:include filename="$(find trainer)/urdf/trainer_front_left_face.xacro"/>
  <xacro:trainer_front_left_face name="$(arg name)" prefix="$(arg prefix)" parent="world" shelf="${shelf}">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:trainer_front_left_face>

</robot>
