<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="trainer_front">
  <xacro:arg name="name" default=""/>
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find trainer)/urdf/trainer_front.xacro"/>

  <link name="world"/>

  <xacro:front_face_plate name="$(arg name)" prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:front_face_plate>

</robot>
