<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="side_face" params="
    name:=''
    prefix:=''
    parent:=''
    *origin">

    <joint name="${prefix}trainer_side_face_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}side_face_lower"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}side_face_lower">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find trainer)/meshes/visual/side_face_lower.stl"/>
          </geometry>
        <material name="red">
          <color rgba="1.0 0 0 0.75"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find trainer)/meshes/collision/side_face_lower.stl"/>
          </geometry>
        <material name="red">
          <color rgba="1.0 0 0 0.75"/>
        </material>
      </collision>
    </link>

    <joint name="${prefix}side_face_plate_joint" type="fixed">
      <parent link="${prefix}side_face_lower"/>
      <child link="${prefix}side_face_plate"/>
      <origin xyz="0.0 0.0 0.5084191" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}side_face_plate">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find trainer)/meshes/visual/side_face_plate.stl"/>
          </geometry>
        <material name="red">
          <color rgba="1.0 0 0 0.75"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="file://$(find trainer)/meshes/collision/side_face_plate.stl"/>
          </geometry>
        <material name="red">
          <color rgba="1.0 0 0 0.75"/>
        </material>
      </collision>
    </link>

  </xacro:macro>
</robot>
