<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="trainer_frame">
  <xacro:arg name="name" default=""/>
  <xacro:arg name="prefix" default=""/>
  <xacro:property name="ceiling_prop" value="true"/>

  <xacro:include filename="$(find trainer)/urdf/trainer_frame.xacro"/>
  <xacro:include filename="$(find trainer)/urdf/bench_seat.xacro"/>

  <link name="world"/>

  <xacro:trainer_frame name="$(arg name)" prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:trainer_frame>

  <xacro:bench_seat name="$(arg name)" prefix="$(arg prefix)" parent="trainer_frame">
    <origin xyz="1.27 0 0.4969" rpy="0 0 0"/>
  </xacro:bench_seat>

  <xacro:if value="${ceiling_prop}">
    <xacro:include filename="$(find trainer)/urdf/ceiling.xacro"/>
    <xacro:ceiling name="$(arg name)" prefix="$(arg prefix)" parent="trainer_frame">
      <origin xyz="0.0 0.0 1.6002" rpy="0 0 0"/>
    </xacro:ceiling>
  </xacro:if>
  
  <!--
  <xacro:include filename="$(find trainer)/urdf/trainer_front.xacro"/>
  <xacro:front_face_plate name="$(arg name)" prefix="$(arg prefix)" parent="world">
    <origin xyz="1.25 0.08 0.45683932" rpy="0 0 0"/>
  </xacro:front_face_plate>
  
  <xacro:include filename="$(find trainer)/urdf/trainer_cubby.xacro"/>
  <xacro:cubby name="$(arg name)" prefix="$(arg prefix)1_" parent="trainer_frame">
    <origin xyz="1.260 0.254 0.830" rpy="0 0 0"/>
  </xacro:cubby>

  <xacro:cubby name="$(arg name)" prefix="$(arg prefix)2_" parent="trainer_frame">
    <origin xyz="1.260 0.254 1.162" rpy="0 0 0"/>
  </xacro:cubby>
  
  <xacro:include filename="$(find trainer)/urdf/trainer_side.xacro"/>
  <xacro:side_face name="$(arg name)" prefix="$(arg prefix)" parent="trainer_frame">
    <origin xyz="0.812 0.887 0.04" rpy="0 0 0"/>
  </xacro:side_face>
  -->
</robot>
