<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="trainer_frame" params="
    prefix:=''
    parent:=''
    *origin">

    <joint name="${prefix}trainer_frame_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}trainer_frame"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}trainer_frame">
      <visual>
        <!--Offset is to adjust for the radius on the extrusion-->
        <origin xyz="0.0 0.004 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://trainer/meshes/visual/ivr_tasktrainer_frame.stl"/>
        </geometry>
        <material name="gray"/>
      </visual>
    </link>

    <joint name="${prefix}trainer_box_joint" type="fixed">
      <parent link="${prefix}trainer_frame"/>
      <child link="${prefix}trainer_box"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}trainer_box">
      <!--TODO set proper inertia-->
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
      <collision>
        <origin xyz="${1.27/2} ${0.896/2} ${0.47/2}" rpy="0 0 0"/>
        <geometry>
          <box size="1.27 0.896 0.47"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}trainer_top_joint" type="fixed">
      <parent link="${prefix}trainer_frame"/>
      <child link="${prefix}trainer_top"/>
      <origin xyz="0.0 0.0 1.52" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}trainer_top">
      <collision>
        <origin xyz="${1.27/2} ${0.896/2} ${0.1/2}" rpy="0 0 0"/>
        <geometry>
          <box size="1.27 0.896 0.1"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}trainer_plane_left_joint" type="fixed">
      <parent link="${prefix}trainer_frame"/>
      <child link="${prefix}trainer_plane_left"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}trainer_plane_left">
      <collision>
        <origin xyz="${1.27/2} ${0.1/2} ${1.60/2}" rpy="0 0 0"/>
        <geometry>
          <box size="1.27 0.1 1.60"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}trainer_plane_middle_joint" type="fixed">
      <parent link="${prefix}trainer_frame"/>
      <child link="${prefix}trainer_plane_middle"/>
      <origin xyz="0.0 0.42 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}trainer_plane_middle">
      <collision>
        <origin xyz="${1.27/2} ${0.05/2} ${1.60/2}" rpy="0 0 0"/>
        <geometry>
          <box size="1.27 0.05 1.60"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}trainer_plane_right_1_joint" type="fixed">
      <parent link="${prefix}trainer_frame"/>
      <child link="${prefix}trainer_plane_right_1"/>
      <origin xyz="0.0 0.8 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}trainer_plane_right_1">
      <collision>
        <origin xyz="${0.810/2} ${0.1/2} ${1.60/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.810 0.1 1.60"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

    <joint name="${prefix}trainer_plane_right_2_joint" type="fixed">
      <parent link="${prefix}trainer_frame"/>
      <child link="${prefix}trainer_plane_right_2"/>
      <origin xyz="1.124 0.81 0.0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}trainer_plane_right_2">
      <collision>
        <origin xyz="${0.14/2} ${0.1/2} ${1.60/2}" rpy="0 0 0"/>
        <geometry>
          <box size="0.14 0.1 1.60"/>
        </geometry>
        <material name="red"/>
      </collision>
    </link>

  </xacro:macro>
</robot>
